meta(name="viewport",content="width=device-width,initial-scale=1,user-scalable=no,width=device-width")
link(href="/font-end/managem/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/font-end/managem/libs/summernote/dist/summernote.css",rel="stylesheet")
link(href="/font-end/managem/css/main.css",rel='stylesheet')
link(rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css")
script(src="/font-end/managem/libs/jquery/dist/jquery.min.js")
script(src="/font-end/managem/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/font-end/managem/libs/summernote/dist/summernote.js")
