extends ../layout

block content
  .container.mtop
    .row
      .col-sm-4.col-sm-offset-4
        h4.centen #{title}
        form(method="POST", action="/super/login/post",enctype="multipart/form-data")
          .modal-body
            .form-group
              label(for="login") 账号
              input#login.form-control(name="super[email]", type="text")
            .form-group
              label(for="signinPassword") 密码
              input#signinPassword.form-control(name="super[password]", type="password")
          .col-sm-4.col-sm-offset-4
            button.btn.btn-success(type="submit") 超级管理员登陆