.marginbottom{margin-bottom: 8px;}
.margintop{margin-top: 70px;}
.marginright{margin-right: 10px;line-height: 1;}
a{text-decoration: none;color: black;}
a:hover{text-decoration: none;color: black;}
.bt{margin-right: 10px;margin-top: 4px;}
.centen{}
.mtop{margin-top: 100px;}
.hnav:hover{background-color: #eee!important;}
.hnav:active{background-color: #eee!important;}
.hnav:visited{background-color: #eee!important;}